#map {
  height: 100vh;
  width: 100%;
}

.map-label {
  background: transparent;
  border: none;
  box-shadow: none;

  color: black;
  font-weight: bold;
  font-size: 12px;

  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}
